openapi: 3.0.0
info:
  title: Servizi cooperativi per la validazione dei dati dei singoli Use Case.
  version: '1.1.3'  
servers:
  - url: https://anscservice.anpr.interno.it/services/service/val
    description: Servizio di produzione      
  - url: https://anscservicepre.anpr.interno.it/services/service/val
    description: Servizio di preproduzione
  - url: http://localhost:8083
    description: Servizio mock locale
paths:
  /validazione/evento/{version}:
     post:
       description: Validazione del processo UseCase
       parameters:
        - name: version
          in: path
          required: true
          description: La versione del servizio invocato
          schema:
            type: string
       requestBody:
         required: true
         content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidazioneEventoRequest'
       responses:
        200:
          description: Successo
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        403:
          description: Non autorizzato
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        400:
          description: Se i metadati non sono in formato json corretto
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
        404:
          description: Se i dati dello use case non sono presenti in base dati.
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/ValidazioneEventoResponse'
components:
  schemas:
    ValidazioneEventoRequest:
      description: Richiesta del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://public-anpr.github.io/ansc-openapi/dati_comuni/base_servizi.yaml#/components/schemas/AnscRequest'
        - type: object
          properties:         
            evento:
                 $ref: 'https://public-anpr.github.io/ansc-openapi/dati_comuni/model_evento.yaml#/components/schemas/ModelEvento'
    ValidazioneEventoResponse:
      description: Ritorno del servizio specializzato per la validazione dei singoli Use Case
      allOf:
        - $ref: 'https://public-anpr.github.io/ansc-openapi/dati_comuni/base_servizi.yaml#/components/schemas/AnscResponse'
        - type: object
          properties:         
            idEvento:
              type: string
              description: Identificativo evento interno
              example: '4245234'
            idAnsc:
              type: string
              description: Identificativo evento Nazionale
              example: '2022-242352-1-3434A'
            idTipoEvento:
              type: string
              description: Identificativo del tipo di evento (decodifica ANSC_01) 
              example: '2'                 
                            